<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Tutorial Demo</title>
</head>
<body>
<div id="container" style="width: 1400px;height: 600px;"></div>

<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
<script>
    const tooltip = new G6.Tooltip({
        offsetX: 10,
        offsetY: 10,
        fixToNode: [1, 0.5],
        // the types of items that allow the tooltip show up
        // 允许出现 tooltip 的 item 类型
        itemTypes: ['node', 'edge'],
        // custom the tooltip's content
        // 自定义 tooltip 内容
        getContent: (e) => {
        const outDiv = document.createElement('div');
    outDiv.style.width = 'fit-content';
    outDiv.style.height = 'fit-content';
    const model = e.item.getModel();
    if (e.item.getType() === 'node') {
        console.log('queryTimeStr = '+model['queryTimeStr']);
        console.log('lastTimeStr = '+model['lastTimeStr']);

        outDiv.innerHTML = `${model.name}<br/>账户余额:${model.balance}<br/>总交易次数：${model.transferCnt}<br/>实际查询交易次数：${model.realQueryCount}<br/>最后查询时间：${model.queryTimeStr}<br/>账户概述：${model.balanceDescription}<br/>最远一次交易时间：${model.lastTimeStr}`;
    } else {
        const source = e.item.getSource();
        const target = e.item.getTarget();
        const tradeCount = e.item.getModel()['tradeCount'];
        const tradeVal = e.item.getModel()['tradeVal'];
        const tradeDescription = e.item.getModel()['tradeDescription'];

        outDiv.color ='red';
        outDiv.innerHTML = `来源：${source.getModel().name}<br/>去向：${target.getModel().name}<br/>交易次数：${tradeCount}<br/>交易总额：${tradeVal}<br/>交易时间范围：${tradeDescription}`;
    }
    return outDiv;
    },
    });

    const container = document.getElementById('container');
    const width = container.scrollWidth;
    const height = container.scrollHeight || 500;
    const graph = new G6.Graph({
        container: 'container',
        width,
        height,
        plugins: [tooltip],
        layout: {
            type: 'force',
            edgeStrength: 0.02
        },
        modes: {
            default: ['drag-canvas'],
        },
        defaultNode: {
            size: [10, 10],
            style: {
                lineWidth: 2,
                fill: '#DEE00F',
                stroke: '#5B8FF9',
            },

        },
        defaultEdge: {
            size: 1,
            style: {
                stroke: '#e233e2',
                lineAppendWidth: 20,
                endArrow: true
            },
        },
        nodeStateStyles: {
            highlight: {
                opacity: 1,
            },
            dark: {
                opacity: 0.2,
            },
        },
        edgeStateStyles: {
            highlight: {
                stroke: '#999',
            },
        },
    });

    graph.on('node:mouseenter', function (e) {
        const item = e.item;
        graph.setAutoPaint(false);
        graph.getNodes().forEach(function (node) {
            graph.clearItemStates(node);
            graph.setItemState(node, 'dark', true);
        });
        graph.setItemState(item, 'dark', false);
        graph.setItemState(item, 'highlight', true);
        graph.getEdges().forEach(function (edge) {
            if (edge.getSource() === item) {
                graph.setItemState(edge.getTarget(), 'dark', false);
                graph.setItemState(edge.getTarget(), 'highlight', true);
                graph.setItemState(edge, 'highlight', true);
                edge.toFront();
            } else if (edge.getTarget() === item) {
                graph.setItemState(edge.getSource(), 'dark', false);
                graph.setItemState(edge.getSource(), 'highlight', true);
                graph.setItemState(edge, 'highlight', true);
                edge.toFront();
            } else {
                graph.setItemState(edge, 'highlight', false);
            }
        });
        graph.paint();
        graph.setAutoPaint(true);
    });

    function clearAllStats() {
        graph.setAutoPaint(false);
        graph.getNodes().forEach(function (node) {
            graph.clearItemStates(node);
        });
        graph.getEdges().forEach(function (edge) {
            graph.clearItemStates(edge);
        });
        graph.paint();
        graph.setAutoPaint(true);
    }
    graph.on('node:mouseleave', clearAllStats);
    graph.on('canvas:click', clearAllStats);

    fetch('getTradeMap.json')
        .then((res) => res.json())
    .then((data) => {
        graph.data({
        nodes: data.nodes,
        edges: data.edges.map(function (edge, i) {
            edge.id = 'edge' + i;
            return Object.assign({}, edge);
        }),
    });

    graph.render();
    });

    graph.node(function(node) {
        var tmp = node.id.substr(-4);
        if(node.agent){
            tmp = tmp + "-疑似中介";
        }
        if(node.root){
            return {
                size: 15,
                style: {
                    fill: '#fc050d',
                    stroke: '040505'
                },
                label: `${tmp}`,
                labelCfg: {
                    size:1,
                    position:'bottom'
                }
            };
        }else{
            return {
                size: 8,
                style: {
                    fill: '#ffff00',
                    stroke: '040505'
                },
                label: `${tmp}`,
                labelCfg: {
                    size:1,
                    position:'bottom'
                }
            };
        }
    });


    // var i = 0;
    // graph.edge(function() {
    //     i++;
    //     return {
    //         color: '#A3B1BF',
    //         startArrow: true, // 添加头部箭头
    //         endArrow: true
    //     };
    // });

    // graph.edge(function() {
    //     i++;
    //     return {
    //         shape: 'cubic-horizontal',
    //         color: '#A3B1BF',
    //         label: i
    //     };
    // });


    graph.on('node:dragstart', function(e) {
        graph.layout();
        refreshDragedNodePosition(e);
    });
    graph.on('node:drag', function(e) {
        refreshDragedNodePosition(e);
    });
    graph.on('node:dragend', function(e) {
        e.item.get('model').fx = null;
        e.item.get('model').fy = null;
    });

    if (typeof window !== 'undefined')
        window.onresize = () => {
        if (!graph || graph.get('destroyed')) return;
        if (!container || !container.scrollWidth || !container.scrollHeight) return;
        graph.changeSize(container.scrollWidth, container.scrollHeight);
    };

    function refreshDragedNodePosition(e) {
        const model = e.item.get('model');
        model.fx = e.x;
        model.fy = e.y;
    }

</script>
</body>
</html>